*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.row{
  margin-bottom: 20px;
}

.box{
  display: inline-block;
  position: relative;
}
.box .discount{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #008800;

}
.box:nth-child(even) .discount{
  background-color:#FF0000;

}
.box .heart{
  color:#FF0000;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5PX;
  text-align: center;

}
